@import "tailwindcss";

.wrapper {
  max-width: 1280px;
  margin-inline: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 12px !important; /* Icon size */
  width: 30px;
  height: 30px;
  /* background-color: #1d4ed8; */
  color: white;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important; /* Controls the arrow size */
  font-weight: 700;
}

.swiper-pagination-bullet {
  background: #cbd5e1; /* Default bullet color */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #a0cc52 !important; /* Active bullet color */
}

@media (min-width: 387px) and (max-width: 639px) {
  .custom-range-mt {
    margin-top: 3rem;
  }

  .custom-range-bottom {
    bottom: -52px;
  }
}
